/* Reset */

*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}

html{

scroll-behavior:smooth;

}


/* Navbar */

nav{

display:flex;

justify-content:space-between;

padding:20px 10%;

background:#0a2540;

color:white;

position:sticky;

top:0;

}

nav ul{

display:flex;

gap:20px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

}



/* Header */

header{

text-align:center;

padding:100px 20px;

background:linear-gradient(135deg,#0a2540,#1abc9c);

color:white;

}

header h1{

font-size:50px;

}

header p{

font-size:20px;

margin:20px;

}



/* Button */

.btn{

padding:12px 30px;

background:#1abc9c;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

position:relative;

overflow:hidden;

}



/* Glow Effect */

.btn::before{

content:"";

position:absolute;

top:var(--y,50%);

left:var(--x,50%);

width:0;

height:0;

background:rgba(255,255,255,0.4);

border-radius:50%;

transform:translate(-50%,-50%);

transition:0.4s;

}

.btn:hover::before{

width:200px;

height:200px;

}



/* Sections */

section{

padding:60px;

text-align:center;

}

section h2{

margin-bottom:20px;

color:#0a2540;

}



/* Skills */

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

max-width:900px;

margin:auto;

}

.skill-card{

background:#1abc9c;

padding:20px;

border-radius:10px;

color:white;

}



/* Projects */

.project{

background:#eee;

padding:20px;

max-width:600px;

margin:auto;

border-radius:10px;

}



/* Social */

.social-links{

display:flex;

justify-content:center;

gap:20px;

}

.social-btn{

padding:10px 20px;

background:#1abc9c;

border-radius:8px;

color:white;

text-decoration:none;

position:relative;

overflow:hidden;

}



/* Footer */

footer{

text-align:center;

padding:20px;

background:#0a2540;

color:white;

}



/* Mobile */

@media(max-width:600px){

nav{

flex-direction:column;

text-align:center;

}

header h1{

font-size:32px;

}

}
